
body {
    margin-top: 50px; 
}

#feg{
	background-color:rgba (0,0,0,0.003);
}

.full {
    background: url('../amaze.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}