[icon="menu"] {
  cursor: pointer;
}
[material] ::selection {
	color: white;
	background: #B0BEC5;
}
[material] ::-moz-selection {
	color: white;
	background: #B0BEC5;
}
[card] {
  position: relative;
  margin-top: 36px;
}
body[material] {
  height: 100%;
}
p {
  font-size: 18px;
}
#Map {
  margin-top: 12px;
  width: 100%;
  height:220px;
}
#to-top {
  top: auto;
  bottom: 475px;
}
[toolbar] {
  font-family: 'Dancing Script', cursive;
}
[toolbar] a{
  padding-top: 8px;
  padding-right: 6px;
  float: right;
  color: #546e7a;
}
[toolbar] a:hover {
  text-decoration: none;
  color: white;
}
.contact {
  width: 50%;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}
.contact span[icon]{
  padding:0px 24px;
}
.footer {
  margin-top: 32px;
  padding: 16px 60px;
  width: 100%;
  height: 100%;
}
.topic {
  right: 12px;
  top: -22px;
  position: absolute;
  border-radius: 50%;
  padding: 12px;
}
.half-width {
  width: calc(100% - 16px);
}
.third {
  margin-top: 0px;
  width: calc(100% - 16px);
}
.card-info {
  position: absolute;
  font-size: 14px;
  padding: 6px;
  top: 20px;
}
.card-body {
  padding: 22px;
}
.blog-card h3 {
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.blog-card img {
  width: 100%;
  height: 230px;
}
.blog-card {
  width: calc(50% - 18px);
  padding: 0px;
  height: 270px;
  overflow: hidden;
}
@media only screen  and (max-width : 440px) {
  .blog-card {
    width: calc(100% - 18px);
  }
  .contact {
    margin: 0;
  }
}
@media only screen  and (min-width : 960px) {
  [content] {
    margin-top: 60px;
  }
  .half-width {
    width: calc(50% - 18px);
  }
  .third {
    margin-top: 0px;
    width: calc(33% - 18px);
  }
  .cover {
    z-index: -1;
    top: 0;
    left: 0;
    position:absolute;
    width: 100%;
    height: 120px;
  }
}
@media only screen  and (min-width : 1280px) {
  #Map {
    margin-left:16px;
    width: 66%;
    height:200px;
    display: inline-block;
  }
  .contact {
    display: inline-block;
    width: 30%;
    margin: 0;
    text-align: justify;
  }
  #to-top {
    bottom: 240px;
  }
}
