h1
{
	color: #FF4500;
	position: center;
	font-family: Verdana;
	font-size: 2.5em;
}

p
{
	text-indent: 20px;
	line-height: 150%;
	color: black;
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
}

table
{
    border-collapse: collapse;
}

th
{
	background-color: #FF4500;
	color: white;
}

th, td
{
	padding: 15px;
	text-align: left;
}

table, th, td
{
   border: 1px solid black;
}